#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;

  transition: 0.5s all ease-in-out;
}

.menu {
  height: 100%;
  width: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #ffa62e;
  overflow-x: hidden;
  padding-top: 60px;

  transition: 0.5s;
}

.menu-items {
  display: block;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  color: #19292d;

  background-color: transparent;

  transition: 0.3s all ease-in-out;
}

.menu-items:hover {
  background-color: #19292d;
  color: #ffa62e;
  transform: scale(1.1);
}

.media-icon_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  height: 100%;
}

.media-icon_wrapper a {
  position: relative;
  align-self: flex-end;

  color: #19292d;
  font-size: 3rem;
  padding: 15px;
}

.media-icon a:hover {
  cursor: pointer;
}
/* Button Styles */
.menu-button {
  color: #19292d;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  background-color: #ffa62e;
  text-decoration: underline;
  border: 2px solid #ffa62e;
  padding: 10px;
  z-index: 5;
  position: fixed;

  transition: 0.3s all ease-in-out;
}

.menu-button:hover {
  color: #ffa62e;
  background-color: #19292d;
  border: 2px solid #ffa62e;

  cursor: pointer;
}

.menu .closebtn {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 1px;
  width: 15%;
  font-size: 36px;
  margin-left: auto;
}
/* End of Button Styles */
@media screen and (max-height: 450px) {
  .menu {
    padding-top: 15px;
  }
  .menu a {
    font-size: 18px;
  }
}
