.portfolio-section {
  display: flex;
  width: 100vw;
  height: auto;
}

.section-text_wrapper-top {
  flex-grow: 1;

  text-align: end;
  justify-content: flex-end;

  font-size: 3rem;
  text-transform: uppercase;

  margin: auto;

  padding-right: 0.625rem;
}

.section-text {
  justify-content: flex-end;
  align-content: end;
}

.projects-wrapper {
  flex-grow: 2;
  width: 100vw;
  margin: auto;
}

/* CARD STYLES */

.horizontal-scroll {
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 20px 0px;
  width: 70vw;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.card {
  display: inline-block;
  width: 50vw;
  height: 100%;
  border: none;

  text-align: left;
  color: transparent;
  font-size: 1.5rem;

  margin: 10px;
}

.card:hover {
  color: #a8a8a8;
  cursor: pointer;
}

.card-content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  width: 100%;
  height: 100%;
}

.project-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100vw;
  white-space: normal;

  font-size: 1rem;

  transition: 0.3s all ease-in-out;
}
