* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  color: #a8a8a8;
  background-color: #19292d;

  margin: 2rem;
  overflow-x: hidden;
  
  
}

html {
  scroll-behavior: smooth;
}
